@mixin logo {
    background-image: url(../images/logo-all-dark.svg);
    display: block;
    width: 215px;
    height: 40px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

@mixin logo-767 {
    background-image: url(../images/logotype-sm-dark.svg);
    display: block;
    width: 171px;
    height: 27px;
    text-indent: 999999px;
    overflow: hidden;
    white-space: nowrap;
}

@mixin clearfix {

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin pad {
    @media(max-width: 768px) {
        @content
    }
}

@mixin iphone {
    @media(max-width: 568px) {
        @content
    }
}

@mixin iphone5 {
    @media(max-width: 320px) {
        @content
    }
}

@mixin ip-ip5 {
    @media screen and (min-width: 321px) and (max-width: 567px) {
        @content
    }
}

$font-family:"Helvetica Neue",
Helvetica,
"segoe ui",
"microsoft jhenghei",
"microsoft mhei",
stheititc,
sans-serif;
$font-dark-green:#3F5D45;
$font-light-green:rgba(63, 93, 69, 0.5);
$light:#EAF0ED;
$btn-yellow:#FFE180;
$btn-yellow-dark:#FFE150;


input::-webkit-input-placeholder {
    color: $font-dark-green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.wray {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    @include clearfix;

    h1 {
        float: left;
        padding: 38px 0;

        @include pad {
            display: none;
        }

        .logo {
            @include logo;
        }
    }

    .menu {
        float: right;

        @include pad {
            position: absolute;
            top: 97px;
            left: 0;
            right: 0;
            transition: max-height 1s;
            max-height: 0px;
            overflow: hidden;
            z-index: 100;
            background: #fff;
            
        }

        li {
            float: left;

            @include pad {
                float: none;
                text-align: center;

            }

            a {
                display: block;
                padding: 48px 35px;
                color: $font-light-green;
                font-family: $font-family;

                @include pad {
                    color: $font-dark-green;
                }

                &:focus,
                &:hover {
                    color: $font-dark-green;
                    font-weight: bold;
                }
            }
        }
        .border-768{
            @include pad {
                 border-top: 4px solid $font-dark-green;
            }
        }

        .none-768 {
            @include pad {
                display: none;
            }
        }
    }

    .menu-768 {
        display: none;
        text-align: center;
        width: 87%;
        margin: 0 auto;

        @include pad {
            display: block;

            h1 {
                display: inline-block;
                float: none;
                margin: 35px 0;
                padding: 0px;

                .logo {
                    @include logo-767;
                }
            }
        }


        .showmenu {
            float: left;
            display: block;
            font-size: 24px;
            color: $font-dark-green;
            padding: 36px 0;
        }

        .cart {
            float: right;
            display: block;
            font-size: 24px;
            color: $font-dark-green;
            padding: 36px 0;

        }
    }
}

.open .menu {
    max-height: 500px;
}


.footer {
    font-family: $font-family;
    @include clearfix;

    .footer-top {
        height: 116px;
        background: $font-dark-green;
        text-align: center;
        padding: 30px 0;

        @include pad {
            height: 186px;
        }

        .footer-mail {
            display: inline-block;
            width: 37%;
            margin: 10px 0;

            @include pad {
                width: 100%;
                margin: 0 0 30px;
            }

            img {
                width: 40px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 7.12%;

                @include pad {
                    margin-right: 2.12%;
                }
            }

            h3 {
                color: #fff;
                font-size: 24px;
                display: inline-block;
                vertical-align: middle;
            }
        }


        form {
            width: 50%;
            display: inline-block;

            @include pad {
                width: 100%;
            }

            .emailicon {
                position: relative;

                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f0e0";
                    font-size: 18px;
                    position: absolute;
                    left: 20px;
                    top: 64.34%;
                    transform: translateY(-50%);
                    color: $font-dark-green;
                }

                input {
                    height: 56px;
                    width: 64%;
                    display: inline-block;
                    background: #EAF0ED;
                    border: none;
                    outline: none;
                    font-size: 16px;
                    text-indent: 60px;

                    @include iphone5 {
                        width: 66%;
                    }
                }
            }

            button {
                display: inline-block;
                color: $font-dark-green;
                width: 12%;
                height: 56px;
                border: none;
                font-size: 16px;
                background: $btn-yellow;
                cursor: pointer;

                @include pad {
                    width: 9%;
                }

                @include iphone {
                    width: 11%;
                }

                @include iphone5 {
                    width: 17%;
                }

                &:hover {
                    background: $btn-yellow-dark;
                }
            }
        }
    }

    .footer-buttom {
        background: $light;
        color: $font-dark-green;
        padding: 30px 122px;

        @include pad {
            padding: 30px 8%;
        }

        @include clearfix;

        @include iphone {
            padding: 30px 122px 30px 6%;
        }

        @include iphone {
            padding: 30px 1% 30px 6%;
        }

        img {
            width: 171px;
            height: 27px;
            margin-top: 8px;
        }

        .footer-s1 {
            float: left;

            img {
                width: 171px;
                height: 27px;
                margin-top: 8px;
            }

            .footer-info {
                padding-top: 119px;
                line-height: 28px;
                font-size: 16px;

                @include pad {
                    padding-top: 39px;
                }

                a {
                    color: $font-dark-green;

                    img {
                        width: 32px;
                        height: 32px;
                        margin-top: 30px;
                    }
                }
            }
        }

        .footer-s2 {
            float: right;

            @include pad {
                float: none;
                clear: both;
            }


            img {
                width: 59px;
                height: 218px;
                margin-left: 80%;

                @include pad {
                    display: none;
                }
            }


            span {
                display: block;
                padding-top: 65px;
                font-size: 16px;

                @include pad {
                    padding-top: 23px;
                }
            }
        }
    }
}